:root {
  --basic-red: #EE3643;
  --dark-red: #CA2C37;
  --basic-green: #63A63E;
  --dark-green: #518534;
  --success: #5FBB2D;
  --special-greenlight: #8ED78F;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-yellowlight: #FFD180;
  --warning: #FFBF47;
  --error: #BA2732;
  --black: #000000;
  --background-special: #32425C;
  --background-special-dark: #293449;
  --background-special-darkest: #1D2739;
  --basic-grey: #3D546F;
  --border-grey: #EAEAEA; 
  --price-grey: #A9A9A9;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --background-additional: #F9F5F0;
  --background-catalog: #F7F3EC;
  --white: #FFFFFF;
  --border-grey-light: #E5E5E5;
  --background-modal: #F4F4F4;
  --active-link-bg: #161D29;
  --background-socials: #212A3A;
  --white-transparent-03: rgba(255, 255, 255, 0.3);
  --white-transparent-05: rgba(255, 255, 255, 0.5);
  --grey-transparent-03: rgba(197, 197, 197, 0.3);
  --dark-grey-transparent-03: rgba(169, 169, 169, 0.3);
  --black-transparent-03: rgba(0, 0, 0, 0.3);
  --pt-sans: "PT Sans", Arial, sans-serif;
  --cuprum: "Cuprum", Arial, sans-serif;
}
/* Global styles */

body {
  min-width: 940px;
  margin: 0;
  padding: 0;
  font-family: var(--pt-sans);
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
  text-transform: none;
  background-color: var(--white);
  background-image: none;

  min-height: 100%; 
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.link {
  text-decoration: none;
  color: var(--white);
}

.button {
  text-decoration: none;
  color: var(--white);
  background-color: var(--basic-red);
  width: 192px;
  display: inline-block;
  text-transform: uppercase;
  font-family: var(--cuprum);
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  padding: 9px;
  padding-top: 11px;
  text-align: center;
  border: none;
}

.button:hover {
  background-color: var(--dark-red);
}

.button:active {
  background-color: var(--error);
}

.img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  display: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.page {
  height: 100%;
}

/* Header */

.page-header {
  font-family: var(--cuprum);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--black);
  background-color: var(--basic-background);
  padding-bottom: 60px;
}

.header-menu-wrapper {
  background-color: var(--background-special-dark);
  height: 42px;
}

.menu {
  color: var(--white);
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  height: 42px;
}

/* здесь у меня сложность с тем, что список ссылок он же в отельном теге, поэтому некрасиво вышло с флексами в вперхней части хедера */
.list-header-menu {
  display: flex;
  margin: 0;
}

.search:focus {
  color: var(--black);
  background-color: var(--white);
}

.header-info-wrapper {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 158px;
  gap: 20px;
}

.header-company-description {
  padding-left: 30px;
  padding-top: 42.5px;
}

.user-menu {
  padding-top: 46px;
  padding-bottom: 67px;
}

.list-user-menu {
  display: flex;
  justify-content: flex-end;
}

.header-navigation {
  background-color: var(--background-special);
  color: var(--white);
  width: 940px;
  margin: 0 auto;
  height: 60px;
}

.header-navigation .link:hover {
  background-color: var(--background-special-dark);
}

.header-navigation .link:active {
  background-color: var(--background-special-darkest);
  color: var(--white-transparent-05);
}

.header-navigation-list {
  display: flex;
  justify-content: space-between;
  padding-left: 26px;
  padding-right: 29px;
}

.header-navigation-list .link {
  padding-top: 16px;
  padding-bottom: 20px;
  padding-left: 27px;
  padding-right: 24px;
  display: inline-block;
}

.link-cart, .link-order, .link-bookmark  {
  text-align: center;
  display: inline-block;
  width: 150px;
  padding: 9px;
}

.link-bookmark:active, .link-cart:active {
  color: var(--white-transparent-05);
  background-color: var(--active-link-bg);
}

.cart-full {
  background-color: var(--basic-red);
}

.link-order {
  background-color: var(--basic-green);
}

.link-order:hover {
  background-color: var(--success);
}

.link-order:active {
  background-color: var(--basic-green);
  color: transparent;
}

.header-company-description .info-text {
  color: var(--basic-red);
  font-family: var(--cuprum);
  font-style: italic;
  margin: 0;
}

.header-contacts {
  padding-top: 46px;
}

.link-phone-header {
  border: 3px solid var(--white);
  color: var(--basic-red);
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  display: inline-block;
  width: 270px;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 8px;
}

.header-address {
  font-family: var(--cuprum);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--background-special);
  margin: 0;
}

.link-login, .link-signin {
  font-family: var(--cuprum);
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
  background-color: var(--white);
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  padding: 12px;
}

.link-login {
  padding-left: 24px;
  padding-right: 24px;
  margin-right: 10px;
}

.link-signin {
  padding-left: 19px;
  padding-right: 27px;
  margin-right: 0;
}

.link-login:hover, .link-signin:hover {
  color: var(--basic-red);
}

.link-login:active, .link-signin:active {
  color: var(--basic-greylight);
}

.user-menu-submenu {
  background-color: var(--white);
}

.link-user {
  color: var(--black);
  display: inline-block;
  font-size: 21px;
  line-height: 21px;
}

.logged-in {
 display: flex;
}

.user-name {
  padding: 0;
  margin: 0;
}

.logged-in-submenu {
  display: flex;
  justify-content: space-around;
}

.link-user:active {
  color: var(--basic-greylight);
}

.link-user-orders, .link-user-cabinet {
  color: var(--background-special);
}

.link-user-orders:hover, .link-user-cabinet:hover {
  color: var(--basic-red);
}

.link-user-orders:active, .link-user-cabinet:active {
  color: var(--basic-greylight);
}

/* Main page -> Offers */

.offers {
  width: 940px;
  padding: 59px 0;
  margin: 0 auto;
}

.offers-wrapper {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 123px 123px 123px;
  gap: 20px;
}

.offers-box {
  width: 300px;
  height: 123px;
}

.title-offers {
  font-family: var(--cuprum);
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: var(--white);
}

.button-offers {
  color: var(--white);
  background-color: var(--white-transparent-03);
  text-align: center;
  text-transform: uppercase;
  width: 135px;
  padding: 10px;
}

.button-offers:hover {
  background-color: var(--grey-transparent-03);
}

.button-offers:active {
  background-color: var(--dark-grey-transparent-03);
}

.offers-box-materials {
  background-color: var(--special-yellow);
}

.offers-box-tools {
  background-color: var(--special-blue);
}

.offers-box-tech {
  background-color: var(--special-lilac);
}

.offers-box-sale {
  background-color: var(--special-greenlight);
}

.offers-box-delivery {
  background-color: var(--special-yellow);
}

.slider {
  width: 620px;
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

.slide-title {
  font-family: var(--cuprum);
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--white);
}

.slide-text {
  font-family: var(--cuprum);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--white);
}


/* Main page -> Popular goods and brands */

.goods {
  grid-column: 2 / -1;
}

.popular-brands, .popular-goods {
  width: 940px;
  margin: 0 auto;
}

.popular-wrapper {
  background-color: var(--background-additional);
  width: 940px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.button-popular {
  margin-right: 18px;
  margin-top: 25px;
  padding-top: 11px;
  font-size: 14px;
  height: 18px;
}

.title-goods, .title-brands {
  font-family: var(--cuprum);
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  margin-left: 28px;
}

.list-goods {
  margin: 0 auto;
  width: 940px;
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  grid-template-rows: 318px;
  gap: 20px;
  margin-bottom: 70px;
}

.list-goods-item {
  width: 220px;
  height: 318px;
  border: 1px solid var(--border-grey);
  text-align: center;
}

.link-goods {
  font-family: var(--pt-sans);
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--black);
}

.price-previous {
  font-family: var(--pt-sans);
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--price-grey);
}

.price-current {
  font-family: var(--pt-sans);
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--basic-red);
}

.brandlinks {
  margin: 0 auto;
  width: 940px;
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  grid-template-rows: 145px;
  gap: 20px;
  margin-bottom: 70px;
}

.list-brands-item {
  width: 220px;
  height: 145px;
  border: 1px solid var(--border-grey);
}

/* Main page -> Services */

.services {
  width: 940px;
  margin: 0 auto;
  background-color: var(--basic-background);
}

.services-wrapper {
  display: grid;
  grid-template-columns: 300px 600px;
  grid-template-rows: 186px;
  column-gap: 20px;
  padding-bottom: 89px;
}

.title-section {
  font-family: var(--cuprum);
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--black);
  margin-top: 29px;
}

.img-small-map {
  margin-top: 32px;
  margin-bottom: 25px;
}

.tab-title {
  font-family: var(--cuprum);
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--background-special);
}

.tablinks-button {
  font-family: var(--cuprum);
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--background-special);
  width: 240px;
  padding-top: 13.5px;
  padding-bottom: 17.5px;
  padding-left: 22px;
  text-align: left;
  border: none;
}

.tablinks-button:hover {
  color: var(--white);
  background-color: var(--background-special-dark);
}

.tablinks-button:active {
  color: var(--background-special);
  background-color: var(--white);
}

.button-credit {
  border: none
}

/* Main page -> Shop-info */

.main-company-info {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  column-gap: 20px; 
  margin: 0 auto;
  width: 940px;
  margin-top: 50px;
  margin-bottom: 70px;
}

.delivery-companies {
  font-family: var(--cuprum);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--black);  
  margin-bottom: 20px;
}

.delivery-company::marker {
  content: url("img/dash.png");
}

.shop-info {
  grid-column: 1 / 3;
}

/* Breadcrambs */

.breadcrambs {
  width: 940px;
  margin: 0 auto;
  padding-left: 10px;
  display: flex;
  margin-top: 21px;
  margin-bottom: 20px;
}

.breadcrambs-link {
  color: var(--black);
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  margin-right: 41px;
}

/*There are no specific styleguide instructions for breadcrambs link states.
Current style based on login and signin buttons styleguide. */

.breadcrambs-link:hover {
  background-color: var(--white);
  color: var(--basic-red); 
}

.breadcrambs-link:active {
  background-color: var(--white);
  color: var(--basic-greylight); 
}

.breadcrambs-link-current,
.breadcrambs-link-current:hover,
.breadcrambs-link-current:active {
  color: var(--basic-greylight); 
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
}

/* Catalog */

.catalog-title-wrapper {
  background-color: var(--basic-background);
  height: 89px;
  width: 940px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.catalog-title {
  font-size: var(--cuprum);
  color: var(--background-special); 
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
  padding-left: 29px;
  padding-top: 29px;
  padding-bottom: 30px;
}

.catalog-main-content {
  display: grid;
  grid-template-columns: 220px 700px;
  grid-template-rows: 38px 100%;
  gap: 21px;
  width: 940px;
  margin: 0 auto;
  margin-bottom: 59px;
}

/* Catalog -> Filter and Sorting */

.sorting {
  grid-column: 2 / -1;
  grid-row: 1 / 2;
  display: flex;
}

.sorting-categories {
  display: flex;
  justify-content: flex-end;
}

.sorting-order {
  display: flex;
}

.filter {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
}

.filter-title, .sorting-title {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
}

.filter-title, 
.sorting,
.price-range-wrapper,
.minprice,
.maxprice {
  background-color: var(--background-catalog);
}

.filter-title {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  margin: 0;
  width: 202px;
}

.filter-pricerange,
.filter-brand,
.filter-minprice,
.filter-maxprice,
.filter-chargertype,
.minprice, 
.maxprice {
  border: none;
}

.minprice::placeholder, .maxprice::placeholder {
  color: var(--black);
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
}

.filter-subtitle {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 30px;  
  margin-top: 14.5px;
  margin-bottom: 10.85px;
}

.filter-brand, .filter-price {
  border-bottom: 1px solid var(--border-grey);
  width: 220px;
}

.filter-price {
  padding-bottom: 25px;
}

.filter-brand {
  padding-top: 16px;
  padding-bottom: 26px;
}

.filter-chargertype {
  padding-top: 18px;
}

.filter-brand-items {
  margin-top: 15px;
}

.filter-chargertype-items {
  margin-top: 20.85px;
}

.filter-brand-item, .filter-chargertype-item {
  font-size: 15px;
  line-height: 19px;  
  text-transform: uppercase;
  margin-bottom: 20px;
}

.button-show {
  border: 1px solid var(--border-grey);
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  background-color: var(--white);
  width: 220px;
  padding: 10px;
  margin-top: 34.15px;
} 

.sorting-category {
  color: var(--black-transparent-03);
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border-bottom: 1px dashed var(--basic-red);
  padding-bottom: 2px;
}

.sorting-category:hover {
  color: var(--black);
  border-bottom: 1px solid var(--basic-red);
  padding-bottom: 2px;
}

.sorting-category:active {
  color: var(--basic-red);
  border: none;
}

.sorting-category-selected, 
.sorting-category-selected:hover,
.sorting-category-selected:active {
  color: var(--basic-red);
  border: none;
}

.link-sorting-up {
  display: inline-block;
  transform: rotate(180deg);
}

/* Catalog -> Goods */

.list-goods {
  display: grid;
  grid-template-columns: repeat(3, 220px);
  gap: 20px;
  grid-template-rows: repeat(3, 318px);
}

.button-to-buy {
  background-color: var(--basic-green);
  font-family: var(--cuprum);
  font-size: 14px;
  line-height: 18px;
  display: inline-block;
  width: 135px;
  padding: 10px;
  border-radius: 2px;
}

.button-to-buy:hover {
  background-color: var(--success);
}

.button-to-buy:active {
  background-color: var(--dark-green);
}

.button-to-bookmarks {
  background-color: var(--white);
  font-family: var(--cuprum);
  color: var(--background-special);
  font-size: 14px;
  line-height: 18px;
  display: inline-block;
  width: 135px;
  padding: 10px;
  border: 2px solid var(--basic-green);
  border-radius: 2px;
}

.button-to-bookmarks:hover {
  border-color: var(--background-special);
  background-color: var(--white);
}

.button-to-bookmarks:active {
  background-color: var(--white);
  border-color: var(--background-special);
  opacity: 0.5;
}

/* Pagination */

.pagination {
  display: flex;
  margin: 0 auto;
  width: 940px;
}

.list-pagination {
  display: flex;
  flex-wrap: wrap;
}

.button-pagination {
  border: 1px solid var(--border-grey-light);
  border-radius: 2px;
  background-color: var(--white);
  color: var(--black);
  font-size: 13px;
  line-height: 18px;
  padding: 9px;
  width: 20px;
  margin-right: 10px;
}

.button-pagination-next {
  width: 100%;
}

/* There are no specific styleguide instructions for button-show states.
Current style based on pagination buttons styleguide. */

.button-pagination:hover,
.button-show:hover {
  border-color: var(--basic-greylight);
  background-color: var(--white);
  color: var(--black);
}

.button-pagination:active,
.button-show:active {
  border-color: var(--basic-red);
  background-color: var(--white);
  color: var(--black);
}

.button-pagination-current,
.button-pagination-current:hover, 
.button-pagination-current:active { 
  border-color: var(--basic-red);
  background-color: var(--basic-red);
  color: var(--white);
}

/* Catalog -> Perforators' info */

.perforator-info {
  background-color: var(--basic-background);
}

.perforator-info-wrapper {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
  padding-top: 64px;
  padding-bottom: 68px;
}

/* Footer */

.page-footer {
  font-family: var(--cuprum);
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--background-special);  
}

.footer-wrapper {
  width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 60px) ;
  gap: 20px;
  padding-bottom: 54px;
}
.page-footer-logo {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
}

.footer-navigation {
  grid-column: 4 / -1;
  grid-row: 1 / 2;
  display: flex;
  justify-content: flex-end;
  padding-top: 37px;
}

.link-footer-navigation {
  margin-left: 58px;
}

.footer-contacts {
  grid-column: 1 / 6;
}

.footer-address {
  margin: 0;
  padding-top: 5px;
}

.footer-submenu {
  grid-column: 6 / -1;
}

.list-submenu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 5px;
}

.footer-wrapper-lower {
  background-color: var(--background-special-dark);
  padding-top: 36px;
}

.footer-lower {
  width: 940px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 300px 300px 140px 140px;
  gap: 20px;
  padding-bottom: 29px;

}

.footer-contacts {
  color: var(--white);
}

.link-additional { 
  color: var(--special-yellowlight);
}

.link-footer-navigation:hover, .link-additional:hover {
  text-decoration: underline;
}

.link-footer-navigation:active, .link-additional:active {
  opacity: 0.5;
  text-decoration: none;
}

.feedback {
  margin-right: 51px;
}

.copyright, .title-feedback, .text-developed {
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
  font-weight: 400;
  margin: 0;
}

.title-feedback {
  width: 140px;
}

.copyright-text {
  margin: 0;
}

.developed {
  padding-left: 29px;
}

.list-social {
  width: 44px;
  height: 44px;
  background-color: var(--background-socials);
  border-radius: 50%;
  margin-left: 3.5px;
}

.list-social:hover, .list-social:active {
  background-color: var(--basic-red);
}

.icon-vk {
  padding: 9px;
  padding-top: 14px;
  padding-bottom: 15px;
}

.icon-fb {
  padding: 16px;
  padding-top: 11px;
  padding-bottom: 11px;
}

.icon-insta {
  padding: 11px;
  padding-right: 12px;
  padding-bottom: 12px;
}

.link-mail, .link-developed {
  font-size: 16px;
  line-height: 18px; 
  color: var(--special-yellowlight);  
}

.link-mail:hover, .link-developed:hover {
  text-decoration: underline; 
}

.link-mail:active, .link-developed:active {
  text-decoration: none; 
  color: var(--basic-red);
}

.list-socials {
  display: flex;
  justify-content: center;
}

.footer-additional-info {
  display: flex;
  justify-content: flex-end;
} 

/* 
  Main page -> Modal 
  Catalog -> Modal
*/

.modal {
  border-top: 7px solid var(--basic-red);
}

.modal-button-wrapper {
  background-color: var(--background-modal);
}

.modal-title {
  font-family: var(--cuprum);
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.modal-mail-fieldset {
  border: none;
}

.modal-mail-label {
  font-family: var(--cuprum);
  font-size: 18px;
  line-height: 24px;
}

.modal-mail-input {
  border: 2px solid var(--basic-greylight);
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 12px;
}

.modal-mail-input::placeholder {
  font-family: var(--pt-sans);
  color: var(--price-grey);
  font-size: 13px;
  line-height: 24px;
}

.button-continue-shopping {
  background-color: var(--white);
  color: var(--black);
}

/* There are no specific styleguide instructions for "continue shopping" button states.
Current style based on login and signin buttons styleguide. */

.button-continue-shopping:hover {
  background-color: var(--white);
  color: var(--basic-red); 
}

.button-continue-shopping:active {
  background-color: var(--white);
  color: var(--basic-greylight); 
}
